@charset "utf-8";

@import url("style.css");
@import url("main.css");
@import url("landing.css");
@import url("jquery-ui.min.css");

/* 파일명 : default.css */
/* 기능설명 : reset, default, font */

/* Noto Sans KR (korea) */
@font-face {
    font-family: 'NotoSansKR';      /* DemiLight */
    font-style: normal;
    font-weight: 300;
    src: local("NotoSansKR DemiLight"), local("NotoSansKR-DemiLight");
    src: url('fonts/NotoSansKR-DemiLight.eot'),
        url('fonts/NotoSansKR-DemiLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/NotoSansKR-DemiLight.woff') format('woff'),
        url('fonts/NotoSansKR-DemiLight.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';      /* Regular */
    font-style: normal;
    font-weight: 400;
    src: local("NotoSansKR Regular"), local("NotoSansKR-Regular");
    src: url('fonts/NotoSansKR-Regular.eot'),
        url('fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/NotoSansKR-Regular.woff') format('woff'),
        url('fonts/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';      /* Bold */
    font-style: normal;
    font-weight: 700;
    src: local("NotoSansKR Bold"), local("NotoSansKR-Bold");
    src: url('fonts/NotoSansKR-Bold.eot'),
        url('fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/NotoSansKR-Bold.woff') format('woff'),
        url('fonts/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GongGothicLight';      /* Light */
    font-style: normal;
    font-weight: 100;
    src: local("Gong Gothic Light"), local("GongGothicLight");
    src: url('fonts/GongGothicLight.eot'),
        url('fonts/GongGothicLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/GongGothicLight.woff') format('woff'),
        url('fonts/GongGothicLight.svg') format('svg'),
        url('fonts/GongGothicLight.ttf') format('opentype');
}

@font-face {
    font-family: 'GongGothicMedium';      /* Medium */
    font-style: normal;
    font-weight: 200;
    src: local("Gong Gothic Medium"), local("GongGothicMedium");
    src: url('fonts/GongGothicMedium.eot'),
        url('fonts/GongGothicMedium.eot?#iefix') format('embedded-opentype'),
        url('fonts/GongGothicMedium.woff') format('woff'),
        url('fonts/GongGothicMedium.svg') format('svg'),
        url('fonts/GongGothicMedium.ttf') format('opentype');
}

[class^="GongGothic"], [class*=" GongGothic"] {
    display: inline-block;
    font-family: 'GongGothic' !important;
    speak: none;
    font-style: normal;
    font-weight: 200;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* reset */
*, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
* { margin:0; padding:0; outline: 0; }
html, body { width:100%; height:100%; zoom:1; }
html { -webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
body { font-family:'NotoSansKR','돋움',sans-serif; font-size: 16px; font-weight:400; white-space:normal; word-wrap:break-word; word-break:keep-all; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,button,p,blockquote,th,td { margin:0; padding:0; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; }
img,fieldset {border:0;}
ul,ol,li {list-style:none;}
hr {display:none;}
.behind, legend, caption { position: absolute; top: -99999px; left: -99999px; width: 0; height: 0; line-height: 0; font-size: 0; overflow: hidden; }
table {width:100%;border-collapse:collapse;border:0;}
table, thead, tbody, tfoot, tr, th, td {position:static;}
strong, b { font-weight: 700; }
textarea,input, button { font-family:'NotoSansKR','돋움',sans-serif; -webkit-appearance: none; }
textarea {resize:none;}
label {cursor:pointer;}
img, input, select, textarea, button { vertical-align: middle; }
pre {overflow-x:scroll;}
button {overflow:visible;cursor:pointer;background:none;border:0;}
button[disabled="disabled"] {cursor:default;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {margin:0;appearance:none;-webkit-appearance:none;-moz-appearance:none;}
select::-ms-expand { display: none; }
img { display: block; max-width: 100%; height: auto; pointer-events: none;-webkit-touch-callout: none;-webkit-user-select: none;}
em, address { font-style: normal; font-weight: normal; }

/* a link setting */
a { color: #000; font-family: 'NotoSansKR', Arial, sans-serif; text-decoration: none; box-sizing: border-box; }
a:link, a:active, a:hover { text-decoration: none; }

input, select, textarea { background-color: #fff; color: #b2b2b2; font-size: 16px; font-weight: 300; }
input::-ms-clear { display: none; }

/* scroll design */
/* ::-webkit-scrollbar { width: 6px; height: 6px; border: 3px solid #0f3399; }
::-webkit-scrollbar-thumb { height: 50px; width: 50px; background: rgba(0,0,0,.3); -webkit-border-radius: 8px; border-radius: 8px; } */

/* form 요소 */
input, select, textarea {
    font-family:'NotoSansKR', Arial, sans-serif;
    vertical-align:middle;
    font-weight:300;
    border-radius:0;
    outline:none;
    -webkit-appearance:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

/* input */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="time"],
input[type="url"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="tel"] { width: 100%; height: 40px; padding: 0 20px; border: 0; border-radius: 5px; background: #f2f2f3; color: #5a5a5a; line-height: normal; letter-spacing: -1px; }
.ele_inp.type01 input[type="text"],
.ele_inp.type01 input[type="password"],
.ele_inp.type01 input[type="number"],
.ele_inp.type01 input[type="email"],
.ele_inp.type01 input[type="time"],
.ele_inp.type01 input[type="url"],
.ele_inp.type01 input[type="search"],
.ele_inp.type01 input[type="file"],
.ele_inp.type01 input[type="date"],
.ele_inp.type01 input[type="tel"] { background: #fff; }
.ele_inp.type02 input[type="text"],
.ele_inp.type02 input[type="password"],
.ele_inp.type02 input[type="number"],
.ele_inp.type02 input[type="email"],
.ele_inp.type02 input[type="time"],
.ele_inp.type02 input[type="url"],
.ele_inp.type02 input[type="search"],
.ele_inp.type02 input[type="file"],
.ele_inp.type02 input[type="date"],
.ele_inp.type02 input[type="tel"] { border: 1px solid #9f9f9f; background: #fff; }
input[readonly],
input[disabled],
textarea[readonly],
textarea[disabled] { /*border: none; background-color: #f2f2f3;*/ color: #5a5a5a; }
input::-webkit-input-placeholder { color: #1e1e1e !important; text-align: left; }
input::-ms-clear { display: none; }
input::placeholder { color: #1e1e1e !important; font-weight: 300; }

.ele_inp.type02 input[type="password"], .key { padding-right: 35px; background: url('../images/input_pw.png') no-repeat; background-position: right 10px center; }
.ele_inp.type02 input[type="password"]:focus, .key:focus { background-image: url('../images/input_pw_focus.png'); }

/* radio, checkbox */
label[class*="i_"] { display: inline-block; position: relative; padding-left: 24px; min-height: 24px; }
label[class*="i_"] input { margin: 0; opacity: 0; }
label[class*="i_"] input,
label[class*="i_"] .icon { position: absolute; top: 0; left: 0; width: 24px; height: 24px; }
label[class*="i_"] .text { display: inline-block; padding-left: 15px; height: 24px; color: #414042; line-height: 22px; font-size: 20px; font-weight: 700; }

/* checkbox */
input[type="checkbox"] { -webkit-appearance: none; }
[class*="i_check"] + [class="i_check"] { margin-left: 3.2rem; }
.i_check .icon { display: block; border: 1px solid #939393; border-radius: 4px; background-color: #f7f7f7; }
.i_check > input:checked + .icon { border: 0; background-image: url('../images/i_check.png'); background-color: #14328b; background-repeat: no-repeat; background-position: -1px -1px; }
.i_check > input:checked:disabled + .icon { background-color: #607eda; }
.i_check > input:disabled + .icon { background-color: #dfe2e6;}

/* radio */
[class*="i_radio"] + [class="i_radio"] { margin-left: 3.2rem; }
.i_radio .icon { display: block; border: .6rem solid #fff; border-radius: 50%; background-color: #c6c9cc; }
.i_radio .icon::after { content:''; display: inline-block; position: absolute; top: -.6rem; left: -.6rem; width: 2.8rem; height: 2.8rem; border: 1px solid #c6c9cc; border-radius: 50%; }
.i_radio > input:checked + .icon { border: .6rem solid #fff; background-color: #8352cc; -webkit-transition: background-color 250ms; transition: background-color 250ms; }
.i_radio > input:checked + .icon::after { border: 1px solid #8352cc; }
.i_radio > input:checked:disabled + .icon { background-color: #b4a3cc; }
.i_radio > input:checked:disabled + .icon::after { border: 1px solid #b4a3cc; }
.i_radio > input:disabled + .icon { background-color: #dfe2e6; }
.i_radio > input:disabled + .icon::after { border: 1px solid #dfe2e6; }

select {
    width:100%;
    height:60px;
    -webkit-appearance:none;   /* 네이티브 외형 감추기 */
    -moz-appearance:none;
    appearance:none;
    margin:0;
    padding:0 0 0 17px; /* input 높이값 맞춤 */
    border:1px solid #e0e0e0;
    border-radius:0;         /* iOS 둥근모서리 제거 */
    font-size:1em;
    background: #fff;  /* 화살표 모양의 이미지 */
    color:#666;
}

/* etc default setting */
.hidden { visibility:hidden; }
.none {display:none !important;}
.ntxt > span {position:absolute;top:0;left:0;display:block;width:100%;height:100%;overflow:hidden;visibility:hidden;}
.hide { visibility:hidden; position:absolute; font-size:0; line-height:0; }
.white_no { white-space: nowrap; }
.ellips { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.overflow_h { overflow: hidden; }
.tdu { text-decoration: underline; }

/* hr */
.hr_line { display: block; width: 100%; height: 1px; margin: 30px 0; border: 0; background: #d0d0d0; }

/* font-size */
.fs_14 { font-size: 14px !important; }
.fs_16 { font-size: 16px !important; }
.fs_18 { font-size: 18px !important; }
.fs_20 { font-size: 20px !important; }
.fs_24 { font-size: 24px !important; }

/* font-weight */
.light { font-weight: 300 !important; }
.regular { font-weight: 400 !important; }
.bold { font-weight: 700 !important; }

/* position */
.position_r { position: relative !important; }
.position_a { position: absolute !important; }
.position_f { position: fixed !important; }

/* float */
.float_l { float: left !important; }
.float_r { float: right !important; }

/* align */
.text_l { text-align: left !important; }
.text_r { text-align: right !important; }
.text_c { text-align: center !important; }

/* margin */
.mar0 { margin: 0 !important; }
/* margin-top */
.mt0 { margin-top: 0 !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt100 { margin-top: 100px !important; }
/* margin-bottom */
.mb0 { margin-bottom: 0 !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
/* margin-left */
.ml0 { margin-left: 0 !important; }
.ml10 { margin-left: 10px !important; }
.ml14 { margin-left: 14px !important; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left: 30px !important; }
.ml40 { margin-left: 40px !important; }
.ml50 { margin-left: 50px !important; }
/* margin-right */
.mr0 { margin-right: 0 !important; }
.mr10 { margin-right: 10px !important; }
.mr20 { margin-right: 20px !important; }
.mr50 { margin-right: 50px !important; }

/* padding */
.pad0 { padding: 0 !important; }
/* padding-top */
.pt0 { padding-top: 0 !important; }
.pt10 { padding-top: 10px !important; }
.pt20 { padding-top: 20px !important; }
.pt100 { padding-top: 100px !important; }
/* padding-bottom */
.pb0 { padding-bottom: 0 !important; }
.pb10 { padding-bottom: 10px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb50 { padding-bottom: 50px !important; }
/* padding-left */
.pl0 { padding-left: 0 !important; }
.pl10 { padding-left: 10px !important; }
.pl20 { padding-left: 20px !important; }
/* padding-right */
.pr0 { padding-right: 0 !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }

/* width */
.w60p { width: 60% !important; }
.w200 { width: 200px !important; }
.w250 { width: 250px !important; }
.w300 { width: 300px !important; }
.w400 { width: 400px !important; }
.w500 { width: 500px !important; }
.w600 { width: 600px !important; }
.w790 { width: 790px !important; }
.w1000 { width: 1000px !important; }

/* background-color */
.bg1 { background: #fff !important; }
.bg2 { background: #000 !important; }
.bg3 { background: #1450c3 !important; }
.bg4 { background: #919191 !important; }
.bg5 { background: #3cb7c0; }
.bg6 { background: #14328b; }
.bg7 { background: #e5e6e7; }

/* color */
.color1 { color: #fff !important; }
.color2 { color: #000 !important; }
.color3 { color: #edf932 !important; }
.color4 { color: #b93030 !important; }
.color5 { color: #1441a7 !important; }
.color6 { color: #919191 !important; }
 
/* button */
.btn_area { display: flex; flex-flow: row; justify-content: center; }
.btn_area.mo { display: none; }
.btn_area [class*="btn_type"] + [class*="btn_type"] { margin-left: 22px; }
[class*="btn_type"] { display: inline-block; text-align: center; }
.btn { border-radius: 40px; text-align: center; font-family: 'GongGothicMedium'; }
.btn_type01 { min-width: 250px; height: 80px; padding: 0 25px; line-height: 80px; font-size: 30px; }
.btn_type02 { width: 200px; height: 70px; line-height: 70px; font-size: 24px; }
.btn_type03 { width: 300px; height: 40px; border-radius: 20px; line-height: 40px; font-size: 20px; font-weight: 300; }
.btn_type03.type01 { border: 1px solid #9f9f9f; color: #919191; background: #fff; }
.btn_type03.type02 { background: #1450c3 url('../images/btn_type03.png') no-repeat; background-position: right 20px center; }
.btn_type04 { display: flex;  width: 400px; height: 100px; padding: 0 20px; border-radius: 50px; justify-content: center; align-items: center; line-height: 30px; font-size: 24px; }
.btn_type05 { width: 154px; height: 70px; border: 1px solid #1450c3; border-radius: 35px; color: #1450c3; line-height: 70px; font-size: 28px; }
.btn_type06 { width: 100%; height: 70px; border-radius: 5px; background: #0f3399; color: #fff; line-height: 70px; font-size: 24px; font-weight: 700; box-shadow: 1px 7px 13px 4px rgb(32 55 121 / 21%); }
.btn_type07 { width: 208px; height: 38px; border-radius: 19px; background: #134bb5; color: #fff; line-height: 38px; font-size: 16px; font-weight: 300; }
.btn_type08 { position: relative; width: 132px; height: 56px; padding-left: 68px; border: 1px solid #ccc; background: #fff; text-align: left; color: #333; line-height: 56px; font-size: 18px; letter-spacing: -.5px; }
.btn_type08 .icon { position: absolute; top: 18px; left: 30px; width: 26px; height: 19px; background: url('../images/icon_list.png') no-repeat; }
.btn_type09 { width: 130px; height: 34px; background: #336bd6; color: #fff; line-height: 32px; font-size: 18px; letter-spacing: -.5px; }
.btn_type10 { width: 180px; height: 56px; background: #1450c3; color: #fff; line-height: 56px; font-size: 18px; }
